.nav-list a:nth-child(2) li{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}


section{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
.heading{
    width: 100%;
}
.values-section{
    display: flex;
    flex-direction: column;
    
}
.heading h1{
    color: white;
    font-size: 60px;
    text-align: center;
}
.story-text{
    border: 1.5px solid white;
    border-radius: 30px;
    padding: 20px;
    font-size: 16px;
    background-color: rgb(87, 175, 87);
}

section h1{
    font-size: 30px;
    text-align: center;
}

.values-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}
.values-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
    border: 1.5px solid white;
    background-color: rgb(79, 112, 79);
    border-radius: 20px;
    padding: 20px 20px;
    width: 100%;
}
.values-icon{
    height: 120px;
    margin: 0 30px;
}
.values-icon img{
    height: 90%
}
.values-text{
    width: 70%;
}
.values-text h2{
    font-size: 20px;
}
.values-text p{
    font-size: 16px;
    text-align: justify;
}

