.hero-section{
    margin: 20px -7vw;
    width: calc(100% + 14vw);
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray;
    color: white;
    display: flex;
}
.nav-list a:nth-child(4) li{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}
.hero div{
    padding: 20px 0;
}
.hero{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
}
.hero-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 300px;
    border-right: 1.5px solid gray;
    margin-right: 10%;
}
.hero-right{
    display: flex;
    width: 60%;
    min-width: 300px;
}
.hero-left h1{
    font-size: 40px;
}
.hero-right p, .hero-right strong{
    font-size: 20px;
    width: 60%;
}
.vacancies-section{
    width: 100%;
    color:white;
}
.vacancies-section h1{
    font-size: 32px;
}
.vacancies summary{
    background-color: rgb(75, 201, 75);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 50vw;
    position: relative;
    z-index: 2;
}
details{
    position: relative;
    margin: 10px;
}
.vacancies details>div{
    background-color: darkgreen;
    width: 50vw;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: -10px;
    border-top: none;
    z-index: 1;
    position: relative;
    font-size: 16px;

}

.offer-section{
    margin: 20px -7vw;
    width: calc(100% + 14vw);
    color: white;
}
.offer{
    display: flex;
    justify-content: center;
    background-color: rgb(75, 201, 75);
    height: 100%;
}
.offer-text{
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 50%;
    min-width: 300px;
    margin-left: 10%;
    border-right: 2px gray solid;
}
.offer-form{
    margin:  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 300px;
    padding: 10px;
}
.offer-form strong{
    font-size: 30px;
    margin-bottom: 20px;
}
.offer-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.offer-form form input{
    background-color: transparent;
    border: none;
    border-bottom:1px solid darkgreen;
    margin: 5px;
    font-size: 16px;
    outline: none;
}
.offer-form form .btn-1{
    height: 30px;
    width: 60%;
    font-size:16px;
}

@media (max-width:1000px) {
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-left{
        border: none;
        border-bottom: 1px gray solid;
    }
    .hero-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .offer-text{
        border: none;
        border-bottom: 1px gray solid;
        padding: 10px ;
    }
}