.front-section{
    margin: 10px -7vw;
    width: calc(100% + 14vw);
}
.nav-list a:nth-child(5) li{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}
.front{
    width: 100%;
}

.contact-section{
    margin: 10px -7vw;
    width: calc(100% + 14vw);
}
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    padding: 20px;
}
.contact-table{
    min-height: 350px;
    color: white;
}
.contact-table strong{
    font-weight: lighter;
    font-size: 14px;
}
.contact-table a, .contact-table p{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.contact-table a:hover{
    text-decoration: underline;
    color: palegreen;
}
.contact-table span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 300px;
    padding: 40px;

}
.contact-table div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}