*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
    display: none;
}
.form-creation{
    z-index: 1000;
    width: 20vw;
    height: 10vh;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background-color:rgba(100, 100, 100, 1);
    font-size: 16px;
    text-align: center;
    line-height: 10vh;
    opacity: 0;
    transition: all 0.5s;
}
.form-creation.show{
    opacity: 1;
}
a{
    text-decoration: none;
    color: inherit;
}
.body{
    background-color: green;
    padding: 0 7vw;
    user-select: none;
    height: 100vh ;


}

header{
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebtn{
    align-self: flex-end;
    display: none;
    height: 100%;
    aspect-ratio: 1;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: 0.3s;
    padding-top: 100px;
    z-index: 100;
}


.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #575757;
}

.menu-btn {
    position: relative;
    left: 40px;
    width: 60px;
    height: 120px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 100000;
    transition: 0.3s;
}

.menu-btn .bar {
    display: block;
    width: 40px;
    height: 4px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
}
.menu-btn.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 5px);
}

.menu-btn.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
}

.sidebar.open {
    right: 0;
}
.nav-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


.nav-icon img {
    height: 130%; 
    position: relative;
    top: 11%;
}
.nav-list, .buttons-header-list{
    display: flex;
    font-weight: bold;
    color: white;
    font: 13px;
}
.nav-list li, .buttons-header-list li{
    margin: 0 5px;

    border: 1.5px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.nav-list li a{
    width: 100%;
    height: 100%;
    padding: 5px 20px;
}


.nav-list li:hover, .buttons-header-list li:hover{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}

@media (max-width:800px) {
    .sidebtn{
        display: block;
    }
    .nav-list{
        display: none;
    }
}
footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: green;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: justify;
    padding: 30px 7vh;
}

.footer-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.footer-1, .footer-2, .footer-3, .footer-4 {
    min-width: 200px;
    max-width: 400px;
}
.footer-icon img{
    width: 170px;
}
.footer-socials{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.footer-socials img{
    height: 30px;
}

.footer div strong{
    font-size: 16px;
}

.footer-2 a{
    display: block;
    text-decoration: none;
    border-bottom: transparent 1px solid;
    color: white;
    padding: 10px;
    font-size: 16px;
}
.footer-2 a:hover{
    color: #38150f;
    border-bottom: 1px solid #38150f;
}

.footer-3 p{
    width: 400px;
    padding-top: 15px;
    font-size: 16px;
}


.afterfooter{
    padding: 15px;
    margin: auto;
}

@media (max-width:1100px) {
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .footer>div:nth-child(3), .footer>div:nth-child(2){
        width: 100%;
        border-top: 1px white solid;
        padding-top: 20px;
    }
}
