
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh -7vw;
    width: calc(100% + 14vw);
    padding: 10%;
    background-image: url("../images/cafe.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    background-position: 20%;
}
.nav-list a:nth-child(1) li{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}
.hero-text{
    width: 80%;
    color: white;
}
.hero-text h1{
    font-size: 60px;
    
}
.hero-text strong{
    font-size: 16px;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero-image img{
    width: 90%;
}

.btn-1{
    margin: 0 5px;
    padding: 5px 20px;
    border: 1.5px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}
.btn-1:hover{
    background-color: white;
    color: #231700;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.line div{
    background-color: white;
    width: 50px;
    height: 3px;
    border-radius: 100px;
    margin: 0 5px;
    cursor: pointer;
}

.line div:nth-child(2){
    background-color: rgba(255, 255, 255, 0.219);
    width: 70px;
}

.service-section{
    margin: 80px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-section h1{
    font-size: 40px;
}

.service-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 10px;
}

.service-item{
    cursor: pointer;
    margin-top: 30px;
    background-color: rgb(87, 175, 87);
    border: 1px solid white;
    border-radius: 5px;
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

.service-item:hover{
    transform: scale(1.04);
}
.service-item img{
    width: 100%;
    height: 210px;
    background-color: red;
    object-fit: cover;
}
.service-item strong{
    flex-grow: 1;
    display: flex;
    text-align: justify;
    align-items: center;
}

.about-section{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    margin-bottom: 80px;
}

.about {
    width: 40%;
}
.about img{
    width: 90%;
}

@media (max-width:1000px) {
    .about{
        display: none;
    }
}

.about-text{
    background-color: rgb(87, 175, 87);
    max-width: 600px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 35px;
}

.about-text p{
    font-size: 20px;
    line-height: 25px;
    padding: 20px 0;
    text-align: justify;
}
.faq-section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-bottom: 80px;
}
.faq-section h1{
    font-size: 40px;
}

.faq{
    width: 70%;
    padding: 10px 0;
}

.question{
    width: 100%;
    border: 1px solid white;
    background-color: rgb(87, 175, 87);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}


.question div:nth-child(1){
    padding: 10px 20px;
}
.question div strong{
    line-height: 2rem;
    font-size: 16px;
}
.question div p{
    font-size: 20px;
}

.add{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
}


.add.none{
    background-color: transparent;
    height: 50px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.answer-minus.hide{
    display: none;
}


.contact-us-section{
    background-color: rgb(87, 175, 87);
    border: 1px solid white;
    border-radius: 15px;
    padding: 50px;
    color: white;
    margin-bottom: 150px;
}

.contact-us-section h1{
    font-size: 35px;
}

.contact-us-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.contact-us-section strong{
    font-size: 18px;
    padding: 10px 0;
    padding-bottom: 5px;
}
.contact-us-section p {
    font-size: 15px;
    margin-bottom: 10px;
}
.form{
    margin-left: 0;
    width: 70%;
    max-width: 600px;
}

.form form{
    padding: 0 20px;
}

.form form input{
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px;
    line-height: 20px;
    color: white;
}

.form form input::placeholder{
    text-align: left;
    color: rgba(255, 255, 255, 0.514);
}
.form form .btn-1{
    margin-top: 20px;
    display: block  ;
}
@media (max-width:800px) {
    .hero-text{
        width: 90%;
    }
    .contact-us-wrapper{
        flex-wrap: wrap;
    }
}
