.menu-hero-section{
    width: 100%;
    background-image: url("../images/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: 20%;
    margin: 30px -7vw;
    width: calc(100% + 14vw);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    color: white;

}
.nav-list a:nth-child(3) li{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}
.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.hero-text h1{
    font-size: 60px;
}
.hero-text h3{
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

.menu-section{
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:cadetblue;
    border: 1.5px white solid;
    border-radius: 20px;
    max-width: 1500px;
}

.menu-category{
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.menu-category h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px gray solid;
    border-top: gray 2px solid;
    padding: 20px 0;
}
.menu-category:first-of-type h2{
    border-top: none;
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin:30px 0;
}
.menu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: paleturquoise 1px solid;
    border-radius: 10px;
    background-color: palegreen;
    min-height: 400px;
    position: relative;
    width: 200px;
    margin: 10px 10px;
    transition: all 0.3s;
}
.menu-item:hover{
    transform: scale(1.02);
    border: yellow 1px solid;
}
.menu-item strong{
    border-top: 1px lightpink solid;
    border-bottom: 1px lightpink solid;
    height: 60px;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.menu-item p:first-of-type{
    height: 180px;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin: auto 0;
}
.menu-item img{
    height: 150px;
    width: 100%;
}
.price{
    width: 90%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 20px;
    border-top: 2px solid gray;
}
