.nav-list a:nth-child(6) li{
    border: 1.5px solid white;
    color: #231700;
    background-color: white;
}

.review-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.review-section h1{
    font-size: 50px;
    color: white;
}

.review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.review-item{
    max-width: 500px;
    max-height: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: turquoise;
    border: 1px solid gray;
    border-radius: 10px;
}
.review-item em{
    align-self: flex-end;
    padding-right: 20px;
}
.left-arrow, .right-arrow{
    background-color: turquoise;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.left-arrow img, .right-arrow img{
    height: 30px;
    width: 30px; 
}

.container{
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 786px) {
    .review{
        flex-direction: column;
    }
    .left-arrow{
        transform: rotate(90deg);
    }
    .right-arrow{
        transform: rotate(90deg);
    }
}
